footer {
    background-color: rgba($color-footer-header-background,$block-transparency);
    padding: 1rem;
    height: 30px;
    position:relative;
    
    .footer__link {
        color: $color-font;

        &:hover {
            color: $color-txt-hover;
        }
    }

    .footer__logo {
        position:absolute;
        height: 55px;
        left: 50%;
        transform: translate(-50%);
        transform: translateY(-22%);
    }

    .footer__menu {
        position:absolute;
        left: 70%;
        transform: translate(100%);
        transform: translateY(-22%);
        

        ul{
            margin: 0;
        }

        li {
            list-style-image: linear-gradient(to left bottom, $color-btn, $color-btn-hover);
            padding: 0.2rem;
            a {
                text-decoration: none;
            }
        }
    }
}