{% extends 'base.html' %}
{% block content %}

    <div class = 'div_title'>Créer une critique</div>
    <form method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% include 'review/ticket/add_ticket_form.html' %}
            <hr class="hr">
        </div>
        
        <div>
            <p>Votre critique</p>
            <hr class="hr_black">
            <p>Titre</p>
            {{review_form.headline}}
            <p>Note</p>
            {{review_form.rating}}
            <p>Commentaire</p>
            {{review_form.body}}
            <div><button class="btn" type="submit" >Envoyer</button></div>
        </div>
    </form>
{% endblock %}