{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/review.css" %}" rel="stylesheet">
    </head>

    <body>
        <main>
            <div id="content">
            {% block content %}
            {% endblock %}
            </div>
        </main>
        

        <footer id="footer">
            <img class="footer__logo" src="{% static "assets/logo.png" %}" alt="logo Litreview">
     
        </footer>

    </body>
</html>