{% extends "base.html" %}
{% block content %}
<div>
    {% for message in messages%}
        <p id="messages">{{message}}</p>
    {% endfor %}
</div>

<div class="feed__buttons">
    <a href="{% url 'review:add_ticket' %}"> <input class='btn' type="button" value="Demander une critique"> </a>
    <a href=""> <input class= 'btn' type="button" value="Créer une critique"> </a>
</div>

<div class="feed__messages">
    <!-- pour chaque post -->
    <!-- si c'est un ticket : ticket_info.html -->
    <!-- si c'est une critique : review_info.html -->
</div>

{% endblock %}