{% extends "base.html" %}
{% load review_tags %}
{% block content %}
<div>
    {% for message in messages%}
        <p id="messages">{{message}}</p>
    {% endfor %}
</div>

<div class="feed__buttons">
    <a href="{% url 'review:add_ticket' %}"> <input class='btn' type="button" value="Demander une critique"> </a>
    <div>  </div>
    <a href="{% url 'review:add_review' %}"> <input class= 'btn' type="button" value="Créer une critique"> </a>
</div>

<div class="feed__messages">
    {% for instance in tickets_and_reviews %}
    <!-- pour chaque post -->
        {% if instance|model_type == 'Ticket' %}
        <!-- si c'est un ticket : ticket_info.html -->
            {% include 'review/ticket/ticket_info.html'%}
        {% elif instance|model_type == 'Review' %}
            <p>!!!Il y a une critique qui doit être affichée ici!!!</p>
            <!-- si c'est une critique : review_info.html -->
        {% endif %}
    {% endfor %}
</div>

{% endblock %}