$color-background: rgb(144,115,66);
$color-background-gradient1 : rgba(204,125,77,1);
$color-background-gradient2 : rgb(232, 242, 31);
$color-font: rgb(10, 9, 8);
$color-footer-header-background: rgb(246,177,73);
$block-transparency: 80%;

$fontsize-title: 2rem;
$fontsize-menu: 1.3rem;

