$color-background: rgb(144,115,66);
$color-background-gradient1 : rgba(204,125,77,1);
$color-background-gradient2 : rgb(232, 242, 31);
$color-font-h1: rgb(11,31,101);
$color-font: rgb(10, 9, 8);
$color-footer-header-background: rgb(246,177,73);
$color-btn: rgb(217,217,217);
$color-btn-hover: rgb(173, 161, 161);
$color-txt-hover: rgb(11,31,101);
$color-divtitle-background: rgb(125,161,215);
$block-transparency: 80%;

$fontsize-title: 2rem;
$fontsize-menu: 1.3rem;

