.hr_black {
    margin-left: 0px;
    border-top: 2px solid; 
}

form {
    // background: red;
    // display : grid;
    // place-items: center;
    // grid-template-columns: 1fr 1fr;
    // display:table-cell;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // text-align: center;
    // vertical-align: middle;
    padding:0;
}

.rate {
    // background: red;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
}