{% load static %}
<nav class="header__menu">
<ul>
    <li>
        <a class="btn" href="{% url 'review:feed' %}">flux</a>
    </li>
    <li><a class="btn" href="{% url 'review:posts' %}">posts</a></li>
    <li><a class="btn" href="{% url 'account:subscription' %}">abonnements</a></li>
    <li><a class="btn" href="{% url 'account:logout' %}">se déconnecter</a></li>
</ul>
</nav>



<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">LITREVIEW</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review:feed' %}">flux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review:posts' %}">posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:subscription' %}">abonnements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:logout' %}">se déconnecter</a>
                </li>
            </ul>
        </div>        
    </div>
</nav> -->


