
   <div class="ticket_info">
      <div class="ticket_info__1">
         {% if ticket.user == request.user %}
            <p>Vous avez demandé une critique</p>
         {% else %}
            <p>{{ticket.user|title}} a demandé une critique</p>
         {% endif %}
         <p class="ticket_info__date">
            {{ ticket.time_created | time}}, {{ ticket.time_created | date}}
         </p>
      </div>
      <div>
         <p>{{ ticket.title }}</p>
      </div>
      <div class="ticket_info__2">   
         <div>
            <img src="{{ticket.image.url }}">
         </div>
         <div class="ticket_info__2__text">
            {{ ticket.description|linebreaks }}
            <div>
               <!-- TODO: ajouter les boutons creer une critique, modifier,supprimer, sous condition -->
            </div>
         </div>
      </div>

   </div>
   
