
   <div class="ticket_info">
      <hr style="margin-left: 10px; border-top: 5px solid red; ">
      <div class="ticket_info__1">
         {% if ticket.user == request.user %}
            <p>Vous avez demandé une critique</p>
         {% else %}
            <p>{{ticket.user|title}} a demandé une critique</p>
         {% endif %}
         <p class="ticket_info__date">
            {{ ticket.time_created | time}}, {{ ticket.time_created | date}}
         </p>
      </div>
      <div>
         <p>{{ ticket.title }}</p>
      </div>
      <div class="ticket_info__2">   
         <div>
            <img src="{{ticket.image.url }}">
         </div>
         <div class="ticket_info__2__text">
            {{ ticket.description|linebreaks }}
            <div>
               <!-- draw the button "creer une critique" if ticket is without review  -->
               <a href=""><button class="btn">Creer une critique</button></a>
               <!-- TODO: ajouter les boutons modifier,supprimer, sous condition --> 
            </div>
         </div>
      </div>

   </div>
   
