@font-face {
    font-family: 'Raleway-Light';
    src: url('../assets/Raleway-Light.ttf');
}
html {
    // background: red;
    // background: $color-background;
    background: linear-gradient(333deg, $color-background 0%, $color-background-gradient1 76%, $color-background-gradient2 100%);
    font-family: 'Raleway-Light';
    color: $color-font;
    min-height: 100vh;
    scroll-behavior:smooth;
    overflow-x:hidden;
}
h1 {
    font-size: $fontsize-title;
    color: $color-font-h1;
}

div{
    padding: 0.5rem;
}

.btn {
    background-color: $color-btn;
    color: $color-font;
    padding: 5px 15px;
    border-radius: 1rem;
    

    &:hover {
        background-color: $color-btn-hover;
      }
  }

.div_title {
    background-color: $color-divtitle-background;
    padding: 0rem;
    text-align: center;
  }

form {
    display: flex;
    flex-direction: column;
    padding:1rem;
}

hr {
    margin-left: 10px;
    border-top: 5px solid $color-border; 
}