header {
    background-color: rgba($color-footer-header-background,$block-transparency);
    padding: 0.2rem 3rem;
    // height: 30px;
    display: grid;
	grid-template-columns: repeat(1fr 2fr 4fr);
    margin: 10px auto;
    
    .user_connected {
        grid-column: 2;
        color: $color-font-h1
    }
    

    .header__menu {       
        
        padding-top: 0em;
        padding-right: 0em;
        grid-column: 4;
        margin: auto 1em;
        align-content: center;
        text-align: right;   
        // transform: translateY(-120%);

        ul{
            margin: 0;
        }
        
        li {
            display: inline;
            padding-left: 0.5em;           

            a {
                text-decoration: none;
            }
        }
    }
}