{% extends "base.html" %}
{% block content %}
<div class = 'subscription'>
    <div class = 'div_title'>Suivre d'autres utilisateurs</div>
    <div class = 'div_form'>
        <form method="post">            
            {% csrf_token %}
            <div>{{form.username}}</div>
            <div>
                <button class="btn" type="submit" >Envoyer</button>     
            </div>            
        </form>
        <div class ="subscription__message">
            {% for message in messages%}
                <p id="messages">{{message}}</p>
            {% endfor %}
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
        </div>
    </div>
    <div class="subscription__lists">
        <div class="subscription__lists__subscriptions">
            <div class = 'div_title'>Abonnements</div>
            <table>
                <!-- for each followed user -->
                <tr>
                    <td>username</td>
                    <td><a href=""><button class="btn" type="button">
                        Désabonner</button></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="subscription__lists__subscribers">
            <div class = 'div_title'>Abonnés</div>
            <table>
                <!-- for each subscribers user -->
                <tr>
                    <td>username</td>
                    <td><a href=""><button class="btn" type="button">
                        Désabonner</button></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}