@font-face {
  font-family: "Raleway-Light";
  src: url("../assets/Raleway-Light.ttf");
}
html {
  background: linear-gradient(333deg, rgb(144, 115, 66) 0%, rgb(204, 125, 77) 76%, rgb(232, 242, 31) 100%);
  font-family: "Raleway-Light";
  color: rgb(10, 9, 8);
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  color: rgb(11, 31, 101);
}

div {
  padding: 0.5rem;
}

.btn {
  background-color: rgb(217, 217, 217);
  color: rgb(10, 9, 8);
  padding: 5px 15px;
  border-radius: 1rem;
}
.btn:hover {
  background-color: rgb(173, 161, 161);
}

.div_title {
  background-color: rgb(125, 161, 215);
  padding: 0rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

footer {
  background-color: rgba(246, 177, 73, 0.8);
  padding: 1rem;
  height: 30px;
  position: relative;
}
footer .footer__link {
  color: rgb(10, 9, 8);
}
footer .footer__link:hover {
  color: rgb(11, 31, 101);
}
footer .footer__logo {
  position: absolute;
  height: 55px;
  left: 50%;
  transform: translate(-50%);
  transform: translateY(-22%);
}
footer .footer__menu {
  position: absolute;
  left: 70%;
  transform: translate(100%);
  transform: translateY(-22%);
}
footer .footer__menu ul {
  margin: 0;
}
footer .footer__menu li {
  list-style-image: linear-gradient(to left bottom, rgb(217, 217, 217), rgb(173, 161, 161));
  padding: 0.2rem;
}
footer .footer__menu li a {
  text-decoration: none;
}

header {
  background-color: rgba(246, 177, 73, 0.8);
  padding: 0.2rem 3rem;
  display: grid;
  grid-template-columns: repeat(1fr 2fr 4fr);
  margin: 10px auto;
}
header .user_connected {
  grid-column: 2;
  color: rgb(11, 31, 101);
}
header .header__menu {
  padding-top: 0em;
  padding-right: 0em;
  grid-column: 4;
  margin: auto 1em;
  align-content: center;
  text-align: right;
}
header .header__menu ul {
  margin: 0;
}
header .header__menu li {
  display: inline;
  padding-left: 0.5em;
}
header .header__menu li a {
  text-decoration: none;
}

.login_and_signup {
  padding: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px auto;
}
.login_and_signup .signup {
  padding: 1em;
  text-align: center;
}
.login_and_signup .login {
  padding: 1em;
  text-align: center;
}

.signup {
  padding: 0 4rem;
  text-align: center;
  max-width: 20rem;
}

.subscription form {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.subscription .div_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 0 0 0;
}
.subscription .subscription__lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.feed__buttons {
  display: flex;
  justify-content: center;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
  border-top: 5px solid rgb(11, 31, 101);
}

.add_ticket {
  padding: 0 4rem;
  text-align: center;
  font-weight: bold;
}
.add_ticket .add_ticket_form {
  text-align: left;
}

.hr_black {
  margin-left: 0px;
  border-top: 2px solid;
}

form {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.rate {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}

.cadre_info {
  border: 1mm rgb(11, 31, 101) ridge;
  margin: 0.2rem;
}
.cadre_info .ticket_info__1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 0;
}
.cadre_info .ticket_info__2 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.cadre_info .ticket_info__2 .ticket_info__2__text {
  text-align: justify;
}

/*# sourceMappingURL=review.css.map */
